@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'POppins', 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --font-color: #FFFFFF;
  --bg: #4B4949;
  --bg-modal: rgba(75, 73, 73, .7);
  --grey: #605C5C;
  --red: #FFAFAF;
  --yellow: #EAC43D;
  --green: #CBFFD0;
  --blue: #C7F7FA;
  --purple: #C7D5FA;
  --orange: #FFCCAF;
  --red-note: rgba(255, 175, 175, .92);
  --yellow-note: rgba(234, 196, 61, 1);
  --green-note: rgba(203, 255, 208, .92);
  --blue-note: rgba(199, 247, 250, .92);
  --purple-note: rgba(199, 213, 250, .92);
  --orange-note: rgba(255, 204, 175, .92);
  --input-height: 3vw;
  --icon-size: 3vw;
}

body {
  background-color: var(--bg);
  overflow-x: hidden;
}

@keyframes juggle {
  0% {
    transform: translate(0, 10% )
  } 25% {
    transform: translate(30%, -10%)
  } 50% {
    transform: translate( 65%, 10% );
  } 75% {
    transform: translate(40%, -10%)
  } 
  100% {
    transform: translate( 0, 10% );
  }
}

@keyframes movePaw {
  0% {
    transform: translate( 0, 0 )
  } 50% {
    transform: translate( 5%, -1% );
  } 100% {
    transform: translate( 0, 0 );
  }
}

#Ellipse20 {
  animation: juggle 2s linear infinite;
}

#Ellipse21 {
  animation-delay: -0.7s !important;
  animation: juggle 2s linear infinite;
}

#Ellipse22 {
  animation-delay: -1.4s !important;
  animation: juggle 2s linear infinite;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);    
  } 100% {
      transform: rotate(360deg);
  }
}

#Ellipse17 {
 transform: translate(var(--transform-paw), 0);
 transition: all 100ms ease;
}
