.search_layout {
    display: flex;
    width: 100%;
    height: calc( 100% - 1rem );
    align-self: center;
    justify-content: center;
}

.search_wrap {
    display: grid;
    grid-template-columns: calc( var(--icon-size) + .5rem ) auto;
    place-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background-color: var(--grey);
    width: calc(7rem + 3vw + 4rem);
    /* height: 100% */
}

.search_wrap > * {
    color: white;
}

.search_input {
    outline: none;
    border-radius: 2rem;
    border: none;
    padding: 0 1rem;
    background-color: var(--grey);
    height: calc(100%);
    font-family: 'Poppins';
    margin: auto;
    width: 100%;
}

.search_input::placeholder {
    color: var(--font-color);
}

.search_icon {
    
    width: auto;
    height: auto;
    display: grid;
    place-self: center;
}