.modal_wrap {
    position: absolute;
    display: grid;
    grid-template-rows: 2rem 3vw auto;
    /* place-self: center; */
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    width: 60%;
    height: 40%;
    background-color: var(--bg-modal);
    backdrop-filter: blur( 20px );
    z-index: 3;
    color: var(--font-color);
    font-family: 'Poppins';
    padding: 1rem;
    border-radius: 1rem;
}

.modal_title {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    font-weight: bold;
}

.modal_edit {
    display: grid;
    grid-template-columns: auto auto;
}

.modal_edit > div {
    cursor: pointer;
    font-weight: normal;
}

.modal_close {
    display: flex;
    align-self: center;
    font-size: 1rem;
    justify-content: flex-end;
    align-content: center;
    padding: 0 1rem
}

.modal_close > p:hover {
    color: var(--red);
}

.modal_close > p {
    cursor: pointer;
    display: flex;
    transform-origin: center;
    transform: rotate(45deg);
}

.modal_content_wrap {
    position: relative;
    display: grid;
    grid-template-columns: auto calc(6vw + 1rem);
}

.modal_content_actions {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.modal_selector {
    position: absolute;
    width: 6vw;
    height: 6vw;
    top: 98%;
    right: calc(6vw + 1rem);
}

.modal_content_actions > img {
    cursor: pointer;
}