.note_canvas {
    display: grid;
    grid-template-rows: calc(3vw + 1rem) auto;
}

.note_navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc( 3vw + 1rem );
    align-items: center;
    /* justify-content: space-around; */
}

.note_go_back {
    display: grid;
    place-items: center;
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 0 1rem;
}

.navbar_middle {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.wrap_color_picker {
    position: relative;
    z-index: 2;
}

.note_color_picker {
    display: flex;
    justify-self: center;
    border-radius: 50%;
    background-color: white;
    width: calc(var(--icon-size));
    height: calc(var(--icon-size));
}

.note_colors_wrap {
    position: absolute;
    display: grid;
    grid-template-columns: repeat( 3, calc(3vw + 1rem) );
    grid-auto-rows: calc(3vw + 1rem);
    top: calc(3vw + 1rem);
    right: 0vw;
    background-color: var(--grey);
    border-radius: .5rem;
}

.note_colors {
    place-self: center;
    width: calc(var(--icon-size) * .5);
    height: calc(var(--icon-size) * .5);
    border-radius: 50%;
}

.choose_brush_wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.choose_brush_icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

.choose_brush_menu {
    position: absolute;
    top: calc( 3vw + 1rem );
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--grey);
}

.brush_icon {
    width: (var(--icon-size) * .5);
    height: (var(--icon-size) * .5);
}

.canvas {
    position: absolute;
    display: flex;
    /* width: 100%; */
    top: calc( 3vw + 1rem );
    /* height: calc( 100% - 3vw - 1rem ); */
    /* background-color: aliceblue; */
    z-index: 1;
}