.text_layout {
    --size: 10vw;
    display: flex;
    flex-direction: column;
    min-width: 1vw;
    width: auto;
    /* max-width: clamp(45ch, 50%, 75ch); */
    border-radius: .3rem;
    padding: 1rem;
    height: var(--size);
    font-family: "Poppins";
    font-size: 1vw;
    font-weight: normal;
    color: var(--font-color);
    margin: .1rem;
}

.text_layout_title_wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: text;
    font-family: "Poppins";
    font-size: 1vw;
    font-weight: 600;
}

.text_layout_title {
    position: relative;
    cursor: text;
    font-family: "Poppins";
    font-size: 1vw;
    font-weight: 600;
    outline: none;
    border: none
}

.text_layout_edit {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 1vw;
    font-weight: normal;
    opacity: 0;
}

.text_layout_title_wrap:hover .text_layout_edit {
    opacity: 1;
}

.title_buttons {
    width: auto;
    margin-left: 1rem;
}

.text_layout_title[contenteditable="true"]::after {
    position: absolute;
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: width 100ms ease;
}

.text_layout_title[contenteditable="true"]:focus:after, 
.text_layout_title[contenteditable="true"]:active:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    transition: width 100ms ease;
}

.text_layout > p {
    margin: .5rem 0;
}

@keyframes loading {
    0% {
        background-position: 0% 0%;
	}
	40%, 100% {
		background-position: 100% 0%;
	}
}

.text_note_loading {
    width: 100%;
    height: 1.5vw;
    border-radius: .1rem;
    background-repeat: no-repeat;
    background: linear-gradient( to left, 
        rgba( 255, 255, 255, .3 ) 33%,  
        rgba( 255, 255, 255, .8 ) 66%,
        rgba( 255, 255, 255, .3 ) 100%
    );
    background-size: 800% 800%;
    /* background-position: -100% 0; */

    animation: loading 2s ease infinite;
}