.form_layout_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(var(--input-height));
    margin: 3rem 0 1rem 0;
}

.form_layout_input {
    position: relative;
    display: grid;
    align-self: center;
    justify-self: center;
    width: 80%;
    height: var(--input-height);
    background-color: var(--bg);
    outline: none;
    border: none;
    text-align: center;
    font-size: 1rem;
    font-family: 'Poppins';
    color: var( --font-color );
    font-weight: normal;
}

.form_layout_wrap::after {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 40%;
    background-color: white;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 300ms ease-out;
}

.form_layout_wrap:focus-within::after, 
.form_layout_wrap:active::after {
    width: 80%;
} 

:not(
    .form_layout_input[type="password"]
):valid {
    color: var(--green)
}

:not(
    .form_layout_input[type="password"]
):invalid {
    color: var(--red)
}

.form_layout_input::placeholder {
    text-align: center;
    font-size: 1rem;
    font-family: 'Poppins';
    color: var( --font-color );
    font-weight: bolder;
}

.error_msg {
    display: grid;
    width: 100%;
    place-items: center;
    color: var(--red);
    font-size: 1vw;
    font-weight: normal;
    margin: 0;
    transition: all 100ms ease;
}
