.menu_option {
    display: grid;
    grid-template-columns: calc( var(--icon-size) + 1rem ) auto;
    height: calc( var(--icon-size) + 1rem );
    font-family: 'Poppins';
    color: var(--font-color);
}

.menu_icon {
    width: var(--icon-size);
    height: var(--icon-size);
}